#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    /* height: 951px; */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  /* tailwind.config.css или style.css */
.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black; /* для Firefox (если поддерживается) */
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: oklch(53.2% 0.157 131.589);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  /* height: 100%; */
  stroke-width: 4px;
  stroke: oklch(53.2% 0.157 131.589);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-button-prev, .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    color: oklch(53.2% 0.157 131.589);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.bg-world-img {
	background-image: url("/IMG-20250424-WA0003.jpg");
}
.bg-polytech-1-img {
	background-image: url("/IMG-20250424-WA0004.jpg");
}
.bg-polytech-2-img {
	background-image: url("/IMG-20250424-WA0005.jpg");
}
.bg-polytech-3-img {
	background-image: url("/IMG-20250424-WA0007.jpg");
}
.bg-tech-img {
	background-image: url("/IMG-20250424-WA0002.jpg");
}
.bg-upgrade-img {
	background-image: url("/IMG-20250424-WA0006.jpg");
}
.bg-first-img {
	background-image: url("/IMG-20250424-WA0008.jpg");
}

/* .pane.active {
	flex-grow: 10;
	max-width: 100%;

	.background {
		transform: scale(1.25, 1.25);
	}

	.label {
		@media (min-width: 640px) {
			transform: translateX(0.5rem);
		}

		.content > * {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.shadow {
		opacity: 0.75;
		transform: translateY(0);
	}
} */

.pane.active {
  flex-grow: 10;
  max-width: 100%;

  @media (max-width: 640px) {
    min-height: 20rem;
  }

  .label {
    /* @media (min-width: 640px) {
      transform: translateX(0.5rem);
    } */

    /* @media (max-width: 640px) {
      transform: translateY(0.5rem);
    } */

    .content > * {
      opacity: 1;

      /* @media (min-width: 640px) {
        transform: translateX(0);
      }

      @media (max-width: 640px) {
        transform: translateY(0);
      } */
    }
  }

  .shadow {
    opacity: 0.75;

    @media (min-width: 640px) {
      transform: translateY(0);
    }

    @media (max-width: 640px) {
      transform: translateY(0);
    }
  }
}

